h1{
    color:#d2b48c;;
    background:white;
    text-size-adjust: 400px;
    text-align: center;
    letter-spacing: 2cm;
    padding: null;
    
}
body{
    background-color: #d2b48c;
}
.First{
    background-color: aliceblue;
}